<div class="container">
    <div class="card m-5" >
      <div class="card-header">Add Pew Post</div>
      <div class="card-body"> 
       <div  class="col-md-12 d-flex p-2">
        <input class="form-control" type="text" name="postTitle" placeholder="enter post title" [(ngModel)]="postTitle">
    </div></div> 
      <div class="card-footer">  
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" (click)="addPost()">Save Post</button>
        </div></div>
    </div>
  </div>
