  <div class="container mt-2">
    <div>
        <div class="row md-2">
            <div class="col col-md-10">
                <h2>Posts List</h2>
            </div>
            <div class="col col-md-2">
                <a routerLink="/add" class="btn btn-dark">Add A New Post</a>
            </div>
        </div>
        <div class="card m-3">
            <div *ngIf="isLoading$ | async">Loading...</div>
            <div *ngIf="error$ | async as error">{{ error }}</div>
            <div class="row mx-md-n5" *ngFor="let post of posts$ | async">
                <div class="col-12 px-md-5">
                    <div class="p-3 border bg-light"> {{ post.title }}
                        <button type="button" style="float: right;" [routerLink]="['/edit', post.id]"
                            class="btn btn-link">Update</button>
                        <button type="button" style="float: right;" (click)="deletePost(post.id)"
                            class="btn btn-link">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>